/* 변수 설정 */
:root {
  --bg-color: #eae8fe;
  --subText: 9px;
  --btnText: 13px;
  --mainText: 14px;
  --active-btn-color: #6327fe;
  --sub-color: #bdbdbd;
}

/* 폰트 설정 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap");

/* 웹접근성을 고려한 컨텐츠 숨기기 */
.blind {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

body {
  background-color: var(--bg-color);
  font-family: "Noto Sans KR", sans-serif;
}

/* header */
.header_logoImg {
  text-align: center;
}

.header_logoImg img {
  width: 386px;
  height: 164px;
}

/* main */
main {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin: 43px auto 171px;
}

/* vendingMachine */
.vendingMachine {
  display: inline-block;
  height: 545px;
}
.drinks,
.machine_bottom {
  padding: 31px 27px 28px;
  background-color: #fff;
  width: 360px;
}
.coke_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}
.coke_item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.btn_cokeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 90px;
  cursor: pointer;
}
.cokeItem_name {
  margin: 6px auto 7px;
  font-size: var(--subText);
}
.cokeItem_price {
  padding: 5px 15px;
  background-color: var(--active-btn-color);
  font-size: 12px;
  color: #fff;
  border-radius: 50px;
}

/* Con-balance */
.machine_bottom {
  display: flex;
  padding-top: 0;
}

/* Con-nonButton */
.Con-nonButton {
  display: flex;
  flex-direction: column;
}

.Con-balance,
.Con-fund {
  display: flex;
  align-items: center;
  width: 200px;
  height: 33px;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: var(--bg-color);
  font-size: var(--mainText);
}

.Con-balance > span,
.Con-fund > span {
  margin-left: auto;
}

.inp_deposit {
  width: 200px;
  margin: 11px 12px 11px 0;
  padding: 6px 0 8px 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Con-button */
.Con-button {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.btn_return,
.btn_deposit {
  padding: 6px 9px 8px 10px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.btn_get {
  padding: 43px 35px 44px;
  background-color: var(--active-btn-color);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

/* Non-vendingMachine */
.Non-vendingMachine {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/* Wrap-fund  */
.Wrap-fund {
  width: 360px;
  padding: 9px 27px;
  background-color: #fff;
}

.Con-fund {
  width: 306px;
  font-weight: 700;
}

.inp_fund {
  margin-left: auto;
  background-color: transparent;
  border: none;
}

/* Con_gotCoke */
.Con_gotCoke {
  background-color: #fff;
  width: 360px;
  padding: 32px 27px;
  text-align: center;
}

.Tit-gotCoke {
  margin-bottom: 13px;
  font-size: var(--mainText);
  font-weight: 700;
}

.Con-gotCokeList {
  height: 393px;
  background-color: var(--bg-color);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.gotCoke_list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px;
}

.gotCoke_item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.preview {
  width: 200px;
  height: 106px;
}

.gotCoke_item > img {
  width: 18px;
  height: 33px;
}

.gotCoke_item > span {
  margin-left: 11px;
  font-size: var(--subText);
}
.gotCoke_count {
  margin-left: auto;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 30px;
  height: 30px;
  vertical-align: bottom;
  font-size: var(--mainText);
}
