/* 변수 설정 */
:root {
  --bg-color: #eae8fe;
  --subText: 9px;
  --btnText: 13px;
  --mainText: 14px;
  --active-btn-color: #6327fe;
  --sub-color: #bdbdbd;
}

/* 웹접근성을 고려한 컨텐츠 숨기기 */
.blind {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

body {
  background-color: var(--bg-color);
}

/* header */
.header_logoImg {
  text-align: center;
}

.header_logoImg img {
  width: 386px;
  height: 164px;
}

/* main */
/* vendingMachine */
.vendingMachine {
  margin: 0 auto;
}
.drinks {
  margin: 43px auto 171px;
  padding: 31px 27px 28px;
  background-color: #fff;
  width: 360px;
}
.coke_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}
.coke_item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.btn_cokeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 90px;
  cursor: pointer;
}
.cokeItem_name {
  margin: 6px auto 7px;
  font-size: var(--subText);
}
.cokeItem_price {
  padding: 5px 15px;
  background-color: var(--active-btn-color);
  font-size: 12px;
  color: #fff;
  border-radius: 50px;
}

/* Con-balance */
.machine_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Con-nonButton */
.Con-nonButton {
  display: flex;
  flex-direction: column;
}

.Con-balance {
  width: 200px;
  display: inline-block;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: var(--bg-color);
  font-size: var(--mainText);
}

.Con-balance > span {
  padding-left: 79px;
}

.inp_deposit {
  width: 200px;
  margin: 11px 12px 11px 0;
  padding: 6px 0 8px 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.Con-button {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.btn_return,
.btn_deposit {
  padding: 6px 9px 8px 10px;
  border: 1px solid var(--sub-color);
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.btn_get {
  padding: 43px 35px 44px;
  background-color: var(--active-btn-color);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
